    @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
    .parent {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        background: black;
    }

    .bg-img {
        position: absolute;
        width: 100%;
    }

    .ring {
        position: relative;
        width: 500px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .loginBtn {
        background-color: transparent;
        transition: 0.5s;
        font-size: 1.2em;
        width: 50%;
        position: relative;
        padding: 2.5% 0%;
        color: white;
        margin-bottom: 2%;
        border-radius: 10px;
        border: 2px solid #8b38d3;
    }

    .loginBtn:hover {
        background-color: black !important;
        color: white;
        font-size: 1.3em;
    }

    .ring i {
        position: absolute;
        inset: 0;
        border: 2px solid #fff;
        transition: 0.5s;
    }

    .ring i:nth-child(1) {
        border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
        animation: animate 6s linear infinite;
    }

    .ring i:nth-child(2) {
        border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
        animation: animate 4s linear infinite;
    }

    .ring i:nth-child(3) {
        border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
        animation: animate2 10s linear infinite;
    }

    .ring:hover i {
        border: 6px solid var(--clr);
        filter: drop-shadow(0 0 20px var(--clr));
    }

    @keyframes animate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes animate2 {
        0% {
            transform: rotate(360deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }

    .login {
        position: absolute;
        width: 300px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .login h2 {
        font-size: 3em;
        height: 14%;
        width: 90%;
        padding-top: 5%;
        color: white;
        font-weight: 500;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .inputBx {
        position: relative;
        width: 100%;
        padding-bottom: 6%;
    }

    .inputBx label {
        color: white;
        font-size: 15px;
    }

    .inputBx input {
        position: relative;
        width: 100%;
        padding: 12px 20px;
        background: transparent;
        border: 2px solid #fff;
        border-radius: 40px;
        font-size: 1.2em;
        color: #fff;
        box-shadow: none;
        outline: none;
    }

    .inputBx input::placeholder {
        color: rgba(255, 255, 255, 0.75);
    }

    .links {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        padding: 10px 30px;
    }

    .links span {
        color: #fff;
        text-decoration: none;
        font-size: 15px;
    }

    a {
        color: #fff;
        font-size: 15px;
    }

    a:hover {
        color: white;
        font-size: 17px;
        transition: 0.5s;
    }
