@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.bg-img {
    position: absolute;
    height: 100%;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signupBtn {
    background-color: transparent;
    transition: 0.5s;
    font-size: 1.2em;
    width: 50%;
    position: relative;
    padding: 2.5% 0%;
    color: white;
    margin-bottom: 2%;
    border-radius: 10px;
    border: 2px solid #8b38d3;
}

.signupBtn:hover {
    background-color: black !important;
    color: white;
    font-size: 1.3em;
}

.signup {
    position: absolute;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signup h2 {
    font-size: 3em;
    height: 10%;
    width: 40%;
    padding-top: 4%;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inputs {
    display: flex;
    width: 800px;
    justify-content: center;
    align-items: center;
}

.inputBox {
    position: relative;
    width: 20rem;
    padding-bottom: 3%;
}

.inputBox label {
    color: white;
    font-size: 15px;
}

.inputBox input {
    position: relative;
    width: 100%;
    padding: 12px 15px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 40px;
    font-size: 1em;
    color: #fff;
    box-shadow: none;
    outline: none;
}

.inputBox input::placeholder {
    color: rgba(255, 255, 255, 0.75);
}

.links {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px 30px;
}

.links span {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

a {
    color: #fff;
    font-size: 15px;
}

a:hover {
    color: white;
    font-size: 17px;
    transition: 0.5s;
}
