<body>
    <img src="../../../assets/bgFinal.jpg " class="bg-img" />
    <div class="mainBody">
        <div class="layout">
            <!-- Sidebar starts here -->
            <div class="sidebar">
                <div class="row1">
                    <div class="sidebarHeader">
                        <div class="nameContainer ">
                            {{ user.firstName + " " + user.lastName }}
                        </div>
                        <div class="actionsContainer ">
                            <img src="../../assets/chat_call.png " />
                            <img src="../../assets/chat_profile.png " />
                            <img src="../../assets/chat_logout.png " />
                        </div>
                    </div>
                    <div class="searchBox ">
                        <img width="19 " src="../../assets/search.png " />
                        <input type="text " placeholder="Search or start the new chat " />
                    </div>
                </div>

                <div class="sidebarContent ">
                    <!-- <div id="noConversations ">All chats are archived</div> -->

                    <div class="conversation " *ngFor="let user of users " (click)="selectUser(user) ">
                        <div class="picture ">
                            <img src="../../assets/user_icon.png" />
                        </div>
                        <div class="content ">
                            <div class="conversationHeader ">
                                <div class="name ">
                                    {{ user.firstName + " " + user.lastName }}
                                </div>
                                <!-- <div class="time ">{{ user.time }}</div> -->
                            </div>
                            <!-- <div class="message ">
                            <img *ngIf="!user.latestMessageRead " src="../../assets/images/doubleTick.svg " />
                            <img *ngIf="user.latestMessageRead " src="../../assets/images/doubleTickBlue.svg " /> {{ user.latestMessage }}
                        </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sidebar ends here -->

        <!-- Mainchat starts here -->
        <div class="mainChat ">
            <div class="chats ">
                <div class="userNav ">
                    <div class="user_image ">
                        <img src="../../assets/user1.png " />
                    </div>
                    <div *ngIf="selectedUser " class="userName ">{{ selectedUser.firstName + " " + selectedUser.lastName}}</div>
                    <div class="call_icon ">
                        <img width="35" src="../../assets/3dots.png" />
                    </div>
                </div>


                <!-- Chatting area -->
                <div class="chatContainer ">
                    <div class="card-body ">
                        <div *ngFor="let message of chatMessages ">
                            <div class="receivedText " *ngIf="message.receiverId==userId ">
                                <div>
                                    <p class="text ">{{message.content}}</p>
                                    <p class="textTime ">{{ message.timestamp | date : "shortTime " }}</p>
                                </div>
                            </div>
                            <div class="sentText " *ngIf="message.senderId==userId ">
                                <div>
                                    <p class="text ">{{message.content}}</p>
                                    <p class="textTime ">{{ message.timestamp | date : "shortTime "}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>





                <!-- Type message area -->
                <div class="typeArea ">
                    <div class="chat-input ">
                        <input placeholder="Type a message... " #messageText (keyup.enter)="onSendMessage(messageText) " />
                        <button (click)="onSendMessage(messageText) ">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>